.dark-theme {
    --primaryBackground: #212222;
    --secondaryBackground: #2f3030;
    --primaryColor: #e7ab06;
    --greyDark: #7d8792;
    --headingColor: #2d2e2e;
    --white: #fff;
    --black: #000;
    --sliver: #bac8d3;
    --particles: rgba(255, 255, 255, 0.2);
}

.light-theme {
    --primaryBackground: #212222;
    --secondaryBackground: #2f3030;
    --primaryColor: #e0a80d;
    --greyDark: #7d8792;
    --headingColor: #ffffff;
    --white: rgb(0, 0, 0);
    --black: #000;
    --sliver: #000000;
    --particles: rgba(243, 225, 29, 0.337);
}


@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--headingColor);
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--particles);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 61%;
    width: 193px;
    height: 193px;
    bottom: -193px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 74%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 38%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 2s;
}
.background li:nth-child(3) {
    left: 0%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 6s;
}
.background li:nth-child(4) {
    left: 48%;
    width: 198px;
    height: 198px;
    bottom: -198px;
    animation-delay: 17s;
}
.background li:nth-child(5) {
    left: 7%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 9s;
}
.background li:nth-child(6) {
    left: 50%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 23s;
}
.background li:nth-child(7) {
    left: 4%;
    width: 191px;
    height: 191px;
    bottom: -191px;
    animation-delay: 24s;
}
.background li:nth-child(8) {
    left: 68%;
    width: 158px;
    height: 158px;
    bottom: -158px;
    animation-delay: 18s;
}
.background li:nth-child(9) {
    left: 57%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 4s;
}